@import url('http://fonts.cdnfonts.com/css/menlo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* article {
    font-family: "Open Sans", sans-serif;
}

article strong {
    font-family: "Open Sans", semi-bold;

} */

.post article header h1 {
    font-size: 3.6rem;
}

.footer {
    font-size: 1.3rem
}

.avatar {
    filter: grayscale(70%) brightness(0.85);
}

.navigation-title, .navigation-link, .footer a, .navigation i {
    color: #4dbb4d !important;
}
.navigation-title, .navigation-link, .footer a, .about h1, .about h2 {
    font-family: 'Menlo', 'monospace', 'Monaco', 'Lucida Console', sans-serif !important;
}

.about h1 {
    font-size: 2.6rem;
}

.about h2 {
    font-size: 2.2rem;
}

.avatar img {
    width: 18rem;
    height: auto;
    border-radius: 10%;
}

.about .fa-2x {
    font-size: 2.5rem;
}

.navigation-title {
    text-transform: none !important;
}

@keyframes cursor {
    from {background: #4dbb4d;}
    to {background: none;}
  }

.about h2::after {
    content: "";
    /* -webkit-animation: cursor .1.2s infinite; */
    animation: cursor 1.2s infinite;
    /* background: #59d759; */
    border-radius: 0;
    display: inline-block;
    height: 2.2rem;
    margin-left: 0.5em;
    width: 4px;
    bottom: -0.4rem;
    position: relative;
}

.post article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[src*='#400']
{
    max-width: 400px;
    width: 100%;
}

img[src*='#600']
{
    max-width: 400px;
    width: 100%;
}

img[src*='#700']
{
    max-width: 400px;
    width: 100%;
}

img[src*='#small']
{
    max-width: 500px;
    width: 100%;
}

img[src*='#medium']
{
    max-width: 800px;
    width: 100%;
}

.post-meta, .content .post .post-meta .tags .tag a {
    color: rgb(160,160,160);
    font-size: 1.4rem !important;
}

/* img[src*='#big']
{
    width: 130%;
} */

body {
    background-color: rgb(230,230,230);
    color: rgb(50,50,50);
}