{{ $currentPageUrl := .RelPermalink }}
{{ if .Params.series }}
<section class="see-also">
  {{ range .Params.series }}
    {{ $name := . | urlize }}
    {{ $series := index $.Site.Taxonomies.series $name }}
    {{ if gt (len $series.Pages) 1 }}
      <h3 id="{{ i18n "see_also" | default "See also in" | anchorize }}-{{ anchorize . | safeURL }}">
        {{ i18n "see_also" | default "See also in" }} {{ . }}
        <a class="heading-link" href="#{{ i18n "see_also" | default "See also in" | anchorize }}-{{ anchorize . | safeURL }}">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a>
      </h3>
      <nav>
        <ul>
        {{ $maxItems := $.Site.Params.maxSeeAlsoItems | default 5 }}
        {{ range first (add $maxItems 1) $series.Pages }}
          {{ if ne .RelPermalink $currentPageUrl }}
          {{ if not .Params.hidden }}
            <li>
              <a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
          {{ end }}
        {{ end }}
        </ul>
      </nav>
    {{ end }}
  {{ end }}
</section>
{{ end }}
