<section class="container list">
  <h1 class="title">
    <a class="title-link" href="{{ .Permalink | safeURL }}">
      {{- if eq .Kind "term" -}}
        {{- i18n .Data.Singular | title -}}
        {{- print ": " -}}
      {{- end -}}

      {{- i18n (lower .Title) | default .Title | title -}}
    </a>
  </h1>
  {{ .Content }}
  <ul>
    {{ range .Paginator.Pages }}
    {{- if not .Params.hidden -}}
    <li>
      <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{- end -}}
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
